@font-face {
    font-family: 'Overpass';
    src: url('../font/Overpass/Overpass-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu/Ubuntu-Regular.ttf');
}
:root{
    --rouge-clair : hsl(356, 100%, 66%) ;
    --rouge-tres-clair : hsl(355, 100%, 74%);
    --bleu-tres-fonce :  hsl(208, 49%, 24%);

    --blanc :hsl(0, 0%, 100%);
    --bleu-gris : hsl(240, 2%, 79%);
    --bleu-gris-tres-fonce : hsl(207, 13%, 34%);
    --bleu-noir-tres-fonce :  hsl(240, 10%, 16%); 

    --bg-rouge-tres-clair : hsl(13, 100%, 72%);
    --bg-rouge-clair : hsl(353, 100%, 62%);
    --bg-blue-gris-tres-fonce : hsl(237, 17%, 21%);
    --bg-bleu-desature-tres-fonce : hsl(237, 23%, 32%);
}
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 300;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img{
    width: 100%;
}
h1{
    font-weight: 400;
    white-space: pre-line;
    padding: 2rem 0 1rem 0;
}
.desktop{display: none;}
#openmenu{display: none;}
.wrap{max-width: 325px;margin: 0 auto;}
header{
    background: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient(135deg, var(--bg-rouge-tres-clair), var(--bg-rouge-clair));
    background-position: 35% 32%;
    background-repeat: no-repeat;
    border-radius: 0 0 0 50px;
    text-align: center;
    color: var(--blanc);
}
header .wrap nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}
header .wrap nav #logo img {
    width: 90px;
}
header .wrap  p {
    white-space: pre-line;
}
header .wrap .liens{
    padding: 3rem 0 8rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem ;
}
header .wrap .liens a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--blanc);
    padding: .8rem 1rem;
    border: 1px solid var(--blanc);
    border-radius: 50px;
}
header .wrap .liens a:first-child{
    color: var(--rouge-clair);
    background: var(--blanc);
    border: none;
}



